/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* CUSTOM GONZALOS
-------------------------------------------------- */


h1,
h2,
h3,
p {
  color: #0B367C;
  font-family: 'Roboto Condensed', sans-serif;
}

btn-primary {
  background-color: #0B367C;
  color: white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* This is the buy button */
.carousel-caption {
  padding: 0%;
}

/* Declare heights because of positioning of img element */

#myCarousel {
  position: relative;
  text-align: center;
  margin: auto;
  top: 0;
  height: auto;
  overflow: hidden;
}

#myCarousel img {
  min-height: 70vh;
  max-height: 90vh;
  overflow: hidden;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

  #myCarousel {
    width: 80%;
  }
}

@media (max-width: 62em) {

  .carousel-indicators {
    position: relative;
    margin: 1rem;
  }

}
